<% title "Sign up" %>
<div class="container-fluid" style="background-image: url('<%= image_path '1234.png' %>');">

<div class="signup-login">
  <div class="titlesignup">
<h2>Sign up</h2>
</div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
     <%= f.input :name,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "name" }%>
    <%= f.input :address,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "address" }%>

    <%= f.input :phone_number, label: 'Phone number:' %>

    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>


    <%= f.input :email,
                required: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>

  </div>

 <div class="form-actions">
          <%= f.button :submit, "Sign Up", class: "btn btn-primary" %>
        </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
</div>



