<div id="sidebar">
  <%= form_with url: laundromats_path, method: 'GET', local: true do |f| %>

  <div class= "filtering">

    <h3>Distance</h3>
    <%= f.radio_button :distance, "3" %>
    <%= f.label "0-3 km" %>
    <br>
    <%= f.radio_button :distance, "9" %> <%= f.label "0-9km" %>
    <br>
    <%= f.radio_button :distance, "20" %> <%= f.label "0-20km"%>




    <h3>price</h3>
    <%= f.radio_button :price_cents, "5000" %>
    <%= f.label "$0-50" %>
    <br>
    <%= f.radio_button :price_cents, "12000" %> <%= f.label "$51-150" %>
    <br>
    <%= f.radio_button :price_cents, "25000" %> <%= f.label "$151-$250" %>
    <br>
    <%= f.radio_button :price_cents, "100000" %> <%= f.label "$250 or more" %>


    <h3><a href="#">Ratings</a></h3>
    <%= f.radio_button :stars, "1" %> <%= f.label "*" %>
    <br>
    <%= f.radio_button :stars, "2" %> <%= f.label "**" %>
    <br>
    <%= f.radio_button :stars, "3" %> <%= f.label "***" %>
    <br>
    <%= f.radio_button :stars, "4" %> <%= f.label "****" %>
    <br>
    <%= f.radio_button :stars, "5" %> <%= f.label "*****"%>

    <br>
    <br>
    <% if params[:laundromat] %>
    <%= f.hidden_field :address, value: params[:laundromat][:address] %>
    <% else %>
    <%= f.hidden_field :address, value: params[:address] %>
    <% end %>
  </div>

  <div class="filter1">
    <%= f.submit "Filter!" %>
    <% end %>
  </div>


  <br>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-default btn-lg" id="map-trigger" data-toggle="modal" data-target="#myModal">
    Map
  </button>
</div>

<!--  <%= link_to "$", laundromats_path(price_cents: 5000) %>
  <%= link_to "$$", laundromats_path(price_cents: 10000) %> -->


