<div class="message-container">

  <% if laundromats.empty? %>
     <h2>Sorry, we don't have laundromats on this area.</h2>
   <h4><%= link_to "These are laundromats we work with!", laundromats_path(laundromat: {address: "Buenos Aires"}) %><h4>

  <% end %>



  <% laundromats.each do |laundromat| %>
  <div class="message">
    <img class="laundry-pic" src= <%= laundromat.photo  %>>
    <div class="message-body">
      <p><strong><%= laundromat.name %></strong></p>

      <%

        # checked_stars = (laundromat.reviews.average(:stars) || 3).ceil
        checked_stars = laundromat.stars.ceil

        stars = 5 - checked_stars
      %>

      <% checked_stars.times do %>
        <span class="fa fa-star checked"></span>
      <% end %>

      <% stars.times do %>
        <span class="fa fa-star"></span>
      <% end %>

      <p></p>
        <%= tag("span", id: "laundromat-node-#{laundromat.id}", data: { reviews: laundromat.reviews }) %>
        <button type="button" class="btn btn-default btn-xs btn-reviews" id="<%= laundromat.id %>" data-toggle="modal" data-target="#reviewsModal">Reviews</button>
    </div>
    <div class="message-name">
      <h3><strong>Bags/day:</strong> <%= laundromat.bags_per_day %>  </h3>
      <h3><strong>Phone:</strong> <%= laundromat.phone_number %>  </h3>
      <h3><%= laundromat.address[0..15] %>...</h3>
    </div>
    <div class="message-status">
      <p class="price"> <%= humanized_money_with_symbol(laundromat.price) %></p>
      <%= link_to 'Pick me!', new_laundromat_order_path(laundromat), class: "btn btn-primary btn-xs lavy-color" %>
    </div>
  </div>
  <% end %>
</div>


