
<!-- Navbar -->
<%= render "shared/navbar" %>

<h1 class="text-center datepicker-title">Schedule A Pick Up</h1>


<div class="container">
  <div class="row">

    <%= simple_form_for :search, method: "get" do |f| %>

    <!-- FIRST ELEMENT DATE -->
    <div class="col-xs-12 col-md-6">
      <div class="datepicker-holder">
        <h2>Choose the date of your pickup</h2>
        <%= f.input :starts_at, as: :string, label: false, input_html: {class: "datepicker datechoose", placeholder: "?"} %>
      </div>

      <!-- FIRST ELEMENT TIME -->
      <div class="datepicker-holder">
        <h2>Pick up time</h2>
        <div class="btn-group btn-group-toggle datepicker-options" data-toggle="buttons">
          <label class="btn btn-secondary">
            <input type="checkbox" autocomplete="off"> 9:00 - 10:00
          </label>
          <label class="btn btn-secondary">
            <input type="checkbox" autocomplete="off"> 11:00 - 12:00
          </label>
          <label class="btn btn-secondary">
            <input type="checkbox" autocomplete="off"> 13:00 -14:00
          </label>
        </div>
      </div>
    </div>

    <!-- SECOND ELEMENT DATE -->
    <div class="col-xs-12 col-md-6">
      <div class="datepicker-holder">
        <h2>Choose the delivery date</h2>
        <%= f.input :ends_at, as: :string, label: false, input_html: {class: "datepicker datechoose", placeholder: "?"} %>
      </div>

      <!-- SECOND ELEMENT TIME -->
      <div class="datepicker-holder">
        <h2>Delivery time</h2>
        <div class="btn-group btn-group-toggle datepicker-options" data-toggle="buttons">
          <label class="btn btn-secondary">
            <input type="checkbox" autocomplete="off"> 9:00 - 10:00
          </label>
          <label class="btn btn-secondary">
            <input type="checkbox" autocomplete="off"> 11:00 - 12:00
          </label>
          <label class="btn btn-secondary">
            <input type="checkbox" autocomplete="off"> 13:00 -14:00
          </label>
        </div>
      </div>

    </div>

    <!-- THIRD ELEMENT -->
    <div class="col-xs-12 col-md-6">
      <div class="service-holder">
        <h2>Services</h2>
        <div class="btn-group btn-group-toggle services-options" data-toggle="buttons">
          <label class="btn btn-secondary service-icons">
            <input type="checkbox" autocomplete="off">
            <i class="fab fa-500px"></i>
            <p>Wash & Fold</p>
          </label>
          <label class="btn btn-secondary service-icons">
            <i class="fab fa-500px"></i>
            <input type="checkbox" autocomplete="off">
            <p>Dry Cleaning</p>
          </label>
          <label class="btn btn-secondary service-icons">
            <i class="fab fa-500px"></i>
            <input type="checkbox" autocomplete="off">
            <p>Hang & Dry</p>
          </label>
        </div>
      </div>
    </div>
    <!-- THIRD ELEMENT -->

    <div class="col-xs-12 col-md-6">
      <h2>Bags</h2>
      <div>
        <select class="custom-select">
          <option selected> Number of Bags </option>
          <option value="1"> 1 </option>
          <option value="2"> 2 </option>
          <option value="3"> 3 </option>
          <option value="3"> 4 </option>
          <option value="3"> 5 </option>
        </select>
      </div>
    </div>


    <div class="col-xs-12 col-md-6">
      <div class="text-center">
        <%= f.submit "Continue", class:"btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>
</div>

<% end %>

<!-- Footer -->
<%= render "shared/footer" %>

