<div id="background-wrap">
  <div class="bubbl x1"></div>
  <div class="bubbl x2"></div>
  <div class="bubbl x3"></div>
  <div class="bubbl x4"></div>
  <div class="bubbl x5"></div>
  <div class="bubbl x6"></div>
  <div class="bubbl x7"></div>
  <div class="bubbl x8"></div>
  <div class="bubbl x9"></div>
  <div class="bubbl x10"></div>
</div>


<!--banner -->
<div id="confirmation-back">
  <p></p>
</div>
<div id="confirmation-holder">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div>
          <h1 id="order-confirmation-title-h1">Order Confirmation</h1>
          <div class="order-wrapper-content">
            <p class="order-title-confirmation">1. Details</p>
            <div>
              <table>
                <tr>
                  <td class="order-details-label">Name:</td>
                  <td class="order-details-info"><%= @order.user.name %></td>
                </tr>

                <tr>
                  <td class="order-details-label">Reservation:</td>
                  <td class="order-details-info"><%= @order.id %></td>
                </tr>

                <tr>
                  <td class="order-details-label">Amount:</td>
                  <td class="order-details-info"><%= humanized_money_with_symbol(@order.amount) %></td>
                </tr>

                <tr>
                  <td class="order-details-label">Bags:</td>
                  <td class="order-details-info"><%= @order.number_of_bags %></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="order-wrapper-content">
            <p class="order-title-confirmation">2. Pick up</p>
            <div>
              <table>
                <tr>
                  <td class="order-details-label">Date:</td>
                  <td class="order-details-info"><%= @order.pick_up_time.strftime("%D") %></td>
                </tr>
                <tr>
                  <td class="order-details-label">Hour:</td>
                  <td class="order-details-info"><%= @order.pick_up_time.strftime("%H:%M") %></td>
                </tr>
                <tr>
                  <td class="order-details-label">Location:</td>
                  <td class="order-details-info"><%= @order.address %></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="order-wrapper-content">
            <p class="order-title-confirmation">3. Service</p>
            <div>
              <table>
                <tr>
                  <td class="order-details-label">Type:</td>
                  <td class="order-details-info" style="min-width: 150px;">Wash / Press</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="order-wrapper-content">
            <p class="order-title-confirmation">4. Delivery</p>
            <div>
              <table>
                <tr>
                  <td class="order-details-label">Date:</td>
                  <td class="order-details-info"><%= @order.delivery_time.strftime("%D") %></td>
                </tr>
                <tr>
                  <td class="order-details-label">Hour:</td>
                  <td class="order-details-info"><%= @order.delivery_time.strftime("%H:%M") %></td>
                </tr>
                <tr>
                  <td class="order-details-label">Location:</td>
                  <td class="order-details-info"><%= @order.address %></td>
                </tr>
              </table>
              <%= image_tag("", size: "") %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="scan">
          <%= image_tag("scanlavy", class: "scanimage") %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- banner end -->
<!--white box #1  -->
