
<!-- Navbar -->
<%= render "shared/navbar" %>

<!-- Banner -->
<%= render "pages/banner" %>

<!-- Information -->
<h1 class="text-center">How it works</h1>
<p class="text-center banner-subtitle">We collect, wash and deliver your laundry and dry cleaning in 24 hours.</p>

<div class="container">
  <div class="row">
    <!-- FIRST ELEMENT -->
    <div class="col-xs-12 col-sm-12 col-md-4 process-card">
      <div>
        <%= image_tag 'pickup.svg' %>
      </div>
      <h2>Pick- Up</h2>
      <p>We collect, wash and deliver your laundry and dry cleaning in 24 hours. </p>
    </div>
    <!-- SECOND ELEMENT -->
    <div class="col-xs-12 col-sm-12 col-md-4 process-card">
      <div>
        <%= image_tag 'adriver.svg' %>
      </div>
      <h2>A Driver arrives</h2>
      <p>Easily choose collection & delivery times at your convenience, including late evenings and weekends. </p>
    </div>
    <!-- THIRD ELEMENT -->
    <div class="col-xs-12 col-sm-12 col-md-4 process-card">
      <div>
        <%= image_tag 'clean.svg' %>
      </div>
      <h2>Clean Laundry</h2>
      <p>Our drivers bring your items to our cleaning partners, where we take utmost care to ensure great results</p>
    </div>
  </div>
</div>


<!-- Container Video -->

<div class= "container">
  <div class="header-container">
   <div class="text-center video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ihWy50K3wkE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
 </div>
</div>



<!-- Footer -->
